In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.8.3)

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np
from itertools import cycle, islice

In [3]:
csv_file = 'Resources/salary.csv'
datascientist_salary = pd.read_csv(csv_file)
datascientist_salary.head()

   Year SalaryUSD         Country
0  2017    200000   United States
1  2017     61515  United Kingdom
2  2017     95000         Germany
3  2017     56000  United Kingdom
4  2017     35000          France

In [4]:
datascientist_salary = datascientist_salary.dropna(how='any')
# Verify the dropped rows
datascientist_salary.head()

   Year SalaryUSD         Country
0  2017    200000   United States
1  2017     61515  United Kingdom
2  2017     95000         Germany
3  2017     56000  United Kingdom
4  2017     35000          France

In [5]:
datascientist_salary['Country'].value_counts()

United States         4509
United Kingdom         667
Canada                 244
Australia              185
India                  112
Germany                 97
Sweden                  87
Netherlands             82
New Zealand             58
South Africa            57
Denmark                 52
Poland                  50
Romania                 44
Switzerland             44
Russia                  37
Ireland                 37
Spain                   34
France                  34
Italy                   32
Belgium                 30
Brazil                  27
Norway                  23
Israel                  22
Ukraine                 21
Czech Republic          19
Finland                 19
Austria                 17
Portugal                16
Greece                  16
Mexico                  15
                      ...
Belarus                  2
Jamaica                  2
Nicaragua                2
Malaysia                 2
Thailand                 2
Jordan                   2
Pakistan                 2
El Salvador              2
Macedonia                2
Peru                     2
China                    2
Syria                    2
Kenya                    1
Ecuador                  1
Taiwan                   1
Dominican Republic       1
Ghana                    1
Bolivia                  1
Nepal                    1
Vietnam                  1
Uruguay                  1
Paraguay                 1
Bermuda                  1
Cayman Islands           1
Bahrain                  1
Indonesia                1
Albania                  1
Guatemala                1
Venezuela                1
Estonia                  1
Name: Country, Length: 85, dtype: int64

In [9]:
((datascientist_salary.Year == '2017') & (datascientist_salary.Country == 'United States')).value_counts()[True]

KeyError: True